@font-face {
  font-family: 'Baby Gemoy';
  src: url('./assets/fonts/BabyGemoy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'anton';
  src: url('./assets/fonts/Antonio-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'anton';
  src: url('./assets/fonts/Antonio-Light.ttf') format('truetype');
  font-weight: light;
  font-style:  normal;
}
@font-face {
  font-family: 'anton';
  src: url('./assets/fonts/Antonio-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
